@import './assets/css/font-awesome.css';
.custom{
  padding: 10px;
  background: red;
}

.noPadding{
  margin-bottom: 8px!important;
  a {
    &:hover{
      cursor: pointer;
    }
  }
}

i {
  margin-right: 10px;
  font-size: 30px;
  vertical-align: middle;
}