@import './assets/css/font-awesome.css';
.custom{
  padding: 10px;
  background: red;
}

.noPadding{
  margin-bottom: 8px!important;
  a {
    &:hover{
      cursor: pointer;
    }
  }
}

i {
  margin-right: 10px;
  font-size: 30px;
  vertical-align: middle;
}

.jumbotron{
  margin-top: 70px!important;
}
.navbar{
  padding: 5px 0;
}
#footerNavbar{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  h5{
    a{
      color: #5bc0de;
      font-weight: bold;
      text-decoration: underline;
    }
    i{
      color: red;
    }
  }
}